* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
}
.container label {
  font-size: 13px;
}
.container input {
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.347);
  height: 45px;
}
.container input::placeholder {
  font-family: "Space Grotesk", sans-serif;
  padding: 0rem 0.8rem;
  font-size: 17px;
}

.section__cards {
  height: 100vh;
  width: 30vw;
  background-image: url("../images/bg-main-desktop.png");
}
.section__cards .image__card-front {
  position: relative;
  top: 15%;
  left: 30%;
  transform: scale(0.9);
}
.section__cards #image-card-logo {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.section__cards #card-number {
  position: absolute;
  bottom: 30%;
  left: 7%;
  font-size: 29px;
  letter-spacing: 3px;
  color: white;
}
.section__cards #card-name {
  position: absolute;
  bottom: 10%;
  left: 7%;
  text-transform: uppercase;
  color: white;
}
.section__cards #card-dueDate {
  position: absolute;
  bottom: 10%;
  left: 81%;
  letter-spacing: 3px;
  color: white;
}
.section__cards .image__card-back {
  position: relative;
  top: 16%;
  left: 50%;
  transform: scale(0.9);
}
.section__cards #security-code {
  position: absolute;
  top: 44%;
  left: 79%;
  letter-spacing: 3px;
  color: white;
}

.section__form {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.section__form .form-cardHolder {
  margin: 2rem 0rem;
}
.section__form .form-cardHolder input {
  width: 80%;
  margin-top: 0.5rem;
}
.section__form .form-cardNumber {
  margin: 2rem 0rem;
}
.section__form .form-cardNumber label {
  display: block;
}
.section__form .form-cardNumber input {
  width: 80%;
  margin-top: 0.5rem;
}
.section__form .form-data {
  display: flex;
  width: 80%;
}
.section__form .form-data .form-date {
  width: 50%;
}
.section__form .form-data .form-date label {
  display: block;
}
.section__form .form-data .form-date input {
  width: 45%;
  margin-top: 0.5rem;
}
.section__form .form-data .form-cvc {
  width: 50%;
}
.section__form .form-data .form-cvc label {
  display: block;
}
.section__form .form-data .form-cvc input {
  width: 100%;
  margin-top: 0.5rem;
}
.section__form .form-button {
  width: 80%;
  margin-top: 2rem;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.347);
  height: 50px;
  background-color: #220930;
  color: white;
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
  }
  .section__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100vw;
  }
  .section__cards .image__card-front {
    position: relative;
    top: 30.5%;
    left: 1%;
    transform: scale(0.55) translate(-13.5%, -10%);
    z-index: 1;
  }
  .section__cards .image__card-back {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: scale(0.55) translate(-80%, -50%);
    z-index: 0;
  }
  .section__form {
    width: 88%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
