@mixin cardNumbers ($letter-spacing, $color){
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin config-input ($width, $margin-top){
    width: $width;
    margin-top: $margin-top;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;

    label{
        font-size: 13px;
    }

    input{
        border-radius: 8px;
        border: 0.5px solid rgba(0, 0, 0, 0.347);
        height: 45px;
    }

    input::placeholder{
        font-family: "Space Grotesk", sans-serif;
        padding: 0rem 0.8rem;
        font-size: 17px;
    }
}

.section__cards{
    height: 100vh;
    width: 30vw;
    background-image: url("../images/bg-main-desktop.png");

    .image__card-front{
        position: relative;
        top: 15%;
        left: 30%;
        transform: scale(0.9);
    }

    #image-card-logo{
        position: absolute;
        top: 20%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    #card-number{
        position: absolute;
        bottom: 30%;
        left: 7%;
        font-size: 29px;
        @include cardNumbers(3px, white)
    }

    #card-name{
        position: absolute;
        bottom: 10%;
        left: 7%;
        text-transform: uppercase;
        color: white;
    }

    #card-dueDate{
        position: absolute;
        bottom: 10%;
        left: 81%;
        @include cardNumbers(3px, white)
    }

    .image__card-back{
        position: relative;
        top: 16%;
        left: 50%;
        transform: scale(0.9);
    }

    #security-code{
        position: absolute;
        top: 44%;
        left: 79%;
        @include cardNumbers(3px, white)
    }
}

.section__form{
    display: flex;
    align-items: center;
    margin-left: 3rem;
   
    .form-cardHolder{
        margin: 2rem 0rem;

        input{
            @include config-input (80%, 0.5rem)
        }
    }

    .form-cardNumber{
        margin: 2rem 0rem;

        label{
            display: block;
        }

        input{
            @include config-input (80%, 0.5rem)
        }
    }

    .form-data{
        display: flex;
        width: 80%;

        .form-date{
            width: 50%;
    
            label{
              display: block;
            }
    
            input{
                @include config-input(45%, 0.5rem);
            }
        }
    
        .form-cvc{
            width: 50%;

            label{
                display: block;
            }

            input{
                @include config-input(100%, 0.5rem);
            }
        }
    }

    .form-button{
        @include config-input(80%, 2rem);
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.347);
        height: 50px;
        background-color: #220930;
        color: white;
        font-size: 17px;
    }
}

@media (width: 320px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .section__cards{
        height: 30vh;
        width: 100%;

        .image__card-front{
            position: relative;
            top: 11%;
            transform: translate(-41%, 0) scale(0.45);
            z-index: 2;
        }
    
        .image__card-back{
            position: relative;
            top: -23%;
            transform: translate( -51%, -100%) scale(0.45);
            z-index: 1;
        }
    }

    .section__form{
        
    }
}